<div id="contact-us" class="container">
  <div class="intro">
    <h2 class="black text-left">Encuentra la mejor solución para tu negocio</h2>
    <div class="row">
      <p class="col">Completa los campos en el formulario y conoce como puedes empezar la transformación digital de tu
        negocio con una solución ajustada a tus necesidades y presupuesto.</p>
    </div>
  </div>

  <div id="contact-form" class="row">
    <h3 id="title">Contáctanos</h3>

    <div class="col-md-5">
      <p id="location">Colombia (Medellín, Bogotá, Pereira)</p>
      <p id="phone">(+57) 3154427962</p>
      <p id="mail">soluciones@innovaciones.co</p>
      <p id="web-page"><a href="https://innovaciones.co">www.innovaciones.co</a></p>
    </div>
    <div class="col-sm-11 col-md-6">
      <form>
        <div class="form-group">
          <input #nameInput (change)="true" type="text" class="form-control" id="name">
          <label for="name" [class.active]="nameInput.value">Nombre</label>
        </div>
        <div class="form-group">
          <input type="tel" class="form-control" id="name"  #phoneInput (change)="true">
          <label for="name" [class.active]="phoneInput.value">Teléfono</label>
        </div>
        <div class="form-group">
          <input #emailInput (change)="true" type="email" class="form-control" id="email">
          <label for="email" [class.active]="emailInput.value">Correo electrónico</label>
        </div>
        <div class="form-group">
          <textarea #messageInput (change)="true" rows="3" class="form-control" id="message"></textarea>
          <label for="message" [class.active]="messageInput.value">Mensaje</label>
        </div>

        <div class="d-flex justify-content-end">
          <button type="submit" class="submit btn btn-primary">Enviar <i class="fal fa-chevron-right"></i></button>
        </div>
      </form>
    </div>
  </div>
</div>
