<div id="about" class="">

    <app-banner [title]="'ESCALAMOS CONTIGO ¿CÓMO LO HACEMOS?'" 
    [description]="'Innovaciones es una empresa con un equipo interdisciplinar, buscamos mejorar y hacer crecer tu negocio mediante la aplicación de nuevas tecnologías, con estándares de alta calidad y enfoques en la mejora continua.'" 
    [image]="'/assets/img/notebook_2.jpg'">
    </app-banner>
    
    <app-items-template [intro]="'Queremos contarte sobre nosotros, estas son las caracteristicas de nuestro equipo'"
    [icon]="['fal fa-robot', 
        'fal fa-id-card', 
        'fal fa-rocket', 
        'fal fa-quote-left']"
    [title]="['ESTAMOS EN VANGUARDIA', 
        'NOS IMPORTA EL DISEÑO Y EL USUARIO', 
        'NOS GUSTAN LOS RETOS', 
        'SIEMPRE ESCUCHAMOS ']"
    [itemDescription]="['Hacemos uso de tecnologías de vanguardia, usadas alrededor del mundo y en los mejores portales.', 
        '¿Te gusta el diseño de nuestra página? trabajamos por crear una buena interface con diseño centrado en el usuario.', 
        'Te ayudamos a crear productos elaborados a tu medida, desarrollamos el producto ideal para solventar las necesidades de tu empresa.', 
        '¿Tienes una idea que quieres trabajar? traéla, te guiamos, te asesoramos y la desarrollamos con las mejores práticas.']"
    ></app-items-template>

</div>

<aside class="mt-5">
    <app-contact-us></app-contact-us>
</aside>
