<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between fixed-top">

  <a class="navbar-brand" [routerLink]="'.'">
    <figure class="logo-container">
      <img src="assets/img/logo.png" alt="">
    </figure>
    <span id="logo-text">Innovaciones</span>
  </a>

  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    <i class="fal fa-bars"></i>
  </button>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" (click)="isMenuCollapsed = true">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/services" (click)="isMenuCollapsed = true">Soluciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" (click)="isMenuCollapsed = true">Nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-us" (click)="isMenuCollapsed = true">Contacto</a>
      </li>
    </ul>
  </div>
</nav>
