<div class="container mt-4">
    <div class="intro">
        <h2 class="black">Nuestros Proyectos</h2>
        <div class="row justify-content-md-center">
            <p class="col-md-8 text-center">Ellos confiaron en nosotros. Conozca algunos de los proyectos en los cuales hemos participado total o parcialmente. No hay mejor garantía que la de nuestros clientes satisfechos con un trabajo que dia a día se reinventa para brindar soluciones de la más alta calidad.</p>
        </div>
    </div>

    <div class="projects">
        <div class="project-item">
            <figure><img src="https://source.unsplash.com/featured/500x400/?dog" alt="Miniatura proyecto"></figure>
            <div class="project-intro">
                <h3 class="project-title">Exea New Media</h3>
                <div class="hidden">
                    <p class="project-description">Sistema de monitoreo de estaciones de radio</p>
                    <app-project-item title="Exea New Media" description="Un sistema de monitoreo adaptado a las necesidades de los clientes de esta importante compañía en el sector audiovisual."></app-project-item>
                </div>
            </div>
        </div>
        <div class="project-item">
            <figure><img src="https://source.unsplash.com/featured/500x400/?dog" alt="Miniatura proyecto"></figure>
            <div class="project-intro">
                <h3 class="project-title">Xflex Business Solutions</h3>
                <div class="hidden">
                    <p class="project-description">Un portal web para una empresa que brinda soluciones ERP de la más alta calidad.</p>
                    <a href="" class="read-more">Saber más</a>
                </div>
            </div>
        </div>
        <div class="project-item">
            <figure><img src="https://source.unsplash.com/featured/500x400/?dog" alt="Miniatura proyecto"></figure>
            <div class="project-intro">
                <h3 class="project-title">Cine Nuestro</h3>
                <div class="hidden">
                    <p class="project-description">Un diseño llamativo para un novedoso proyecto que invita a conocer lo mejor del cine colombiano.</p>
                    <a href="" class="read-more">Saber más</a>
                </div>
            </div>
        </div>
        <div class="project-item">
            <figure><img src="https://source.unsplash.com/featured/500x400/?dog" alt="Miniatura proyecto"></figure>
            <div class="project-intro">
                <h3 class="project-title">Aula Máxima</h3>
                <div class="hidden">
                    <p class="project-description">Una empresa de servicios educativos que necesitaba de un portal web para darse a conocer.</p>
                    <a href="" class="read-more">Saber más</a>
                </div>
            </div>
        </div>
        <div class="project-item">
            <figure><img src="https://source.unsplash.com/featured/500x400/?dog" alt="Miniatura proyecto"></figure>
            <div class="project-intro">
                <h3 class="project-title">Misión Servir</h3>
                <div class="hidden">
                    <p class="project-description">Una página web para una empresa enfocada al sector de los servicios especializados.</p>
                    <a href="" class="read-more">Saber más</a>
                </div>
            </div>
        </div>
        <div class="project-item">
            <figure><img src="https://source.unsplash.com/featured/500x400/?dog" alt="Miniatura proyecto"></figure>
            <div class="project-intro">
                <h3 class="project-title">Transconsult</h3>
                <div class="hidden">
                    <p class="project-description">Consultoría y desarrollo para un sistema de inventario diseñado para Transmileno.</p>
                    <a href="" class="read-more">Saber más</a>
                </div>
            </div>
        </div>
        <div class="project-item">
            <figure><img src="https://source.unsplash.com/featured/500x400/?dog" alt="Miniatura proyecto"></figure>
            <div class="project-intro">
                <h3 class="project-title">Xflex Business Solutions</h3>
                <div class="hidden">
                    <p class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet incidunt officiis dolor ipsam</p>
                    <a href="" class="read-more">Saber más</a>
                </div>
            </div>
        </div>
        <div class="project-item">
            <figure><img src="https://source.unsplash.com/featured/500x400/?dog" alt="Miniatura proyecto"></figure>
            <div class="project-intro">
                <h3 class="project-title">Xflex Business Solutions</h3>
                <div class="hidden">
                    <p class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet incidunt officiis dolor ipsam</p>
                    <a href="" class="read-more">Saber más</a>
                </div>
            </div>
        </div>
        <div class="project-item">
            <figure><img src="https://source.unsplash.com/featured/500x400/?dog" alt="Miniatura proyecto"></figure>
            <div class="project-intro">
                <h3 class="project-title">Xflex Business Solutions</h3>
                <div class="hidden">
                    <p class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet incidunt officiis dolor ipsam</p>
                    <a href="" class="read-more">Saber más</a>
                </div>
            </div>
        </div>
        <div class="project-item">
            <figure><img src="https://source.unsplash.com/featured/500x400/?dog" alt="Miniatura proyecto"></figure>
            <div class="project-intro">
                <h3 class="project-title">Xflex Business Solutions</h3>
                <div class="hidden">
                    <p class="project-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet incidunt officiis dolor ipsam</p>
                    <a href="" class="read-more">Saber más</a>
                </div>
            </div>
        </div>
    </div>
</div>
