<div class="container mt-4">
  <div class="intro">
    <h2 class="black">Nuestros Proyectos</h2>
    <div class="row justify-content-md-center">
      <p class="col-md-8 text-center">Ellos confiaron en nosotros. Conozca algunos de los proyectos en los cuales hemos
        participado total o parcialmente. No hay mejor garantía que la de nuestros clientes satisfechos con un trabajo
        que dia a día se reinventa para brindar soluciones de la más alta calidad.</p>
    </div>
  </div>

  <div class="projects">
    <div class="project-item" *ngFor="let project of projects">
      <figure><img src="{{project.thumbnail}}" alt="Miniatura proyecto"></figure>
      <div class="project-intro">
        <h3 class="project-title">{{project.title}}</h3>
        <div class="hidden">
          <p class="project-description">{{project.short_description}}</p>
          <app-project-item title={{project.title}} description={{project.description}} [pictures]=project.pictures>
          </app-project-item>
        </div>
      </div>
    </div>

  </div>
</div>
