@import "variables";

#products {
    margin: 0px;
    max-width: 100%;

    .blue-text {
        color: $primary-color;
        font-family: $font-bold;
        font-size: 1.5rem;
    }

    #section-1 {
        .text-body {
            margin-left: 40px;
            margin-right: 40px;
        }

        .blue-text {
            margin-bottom: 50px;
            margin-top: 50px;
        }
    }

    #section-2 {
        background-image: linear-gradient(236.13deg, #5BFFF4 0%, #54C0E2 53.52%, $primary-color 100%);
        padding: 20px 0px;

        .sol-item {
            background-color: white;
            height: 550px;
            width: 340px;
            padding: 40px;
            margin: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            h3 {
                text-transform: none;
                margin: 0;
                color: $primary-color;
                font-size: 1.5rem;
            }

            p {
                margin-top: 2rem;
            }
    
            ul {
                padding-left: 15px;
            }

            li {
                padding-top: 14px;
                padding-left: 5px;;
            }
    
            .price {
                font-size: 1.5rem;
                font-family: $font-bold;
                position: absolute;
                bottom: 105px;
            }
    
            .more {
                background: #FF326A;
                padding: 12px 30px;
                text-transform: uppercase;
                text-decoration: none;
                position: absolute;
                bottom: 35px;
            }
        }
    }

    #section-3  {
        padding: 110px 20px 70px 20px;
        position: relative;
        background: url('~/assets/img/notebook_2.jpg') no-repeat left;
        background-size: cover;
        z-index: -2;

        h2 {
            color: black;
            text-align: left;
            font-size: 1.9rem;
            position: relative;
            margin-bottom: 35px;
        }
        
        h2::before {
            content: '';
            position: absolute;
            background-image: linear-gradient(#5BFFF4, $primary-color);
            height: 4px;
            top: -20px;
            left: 0px;
            width: 200px;
        }
    }

    #section-3::after {
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0) 100%);
    }

    #section-4 {
        padding-top: 70px;
        padding-bottom: 25px;

        #product-intro {
            color: black;
            font-size: 1.4rem;
            margin-bottom: 40px;
            text-transform: none;
            font-family: $font-bold;
            text-align: center;
            line-height: 1.2;
        }

        #products-section {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        

        #products-container {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            display: flex;
            padding: 0px;
            max-width: 1300px;
        }

        .product-item {
            padding: 15px 30px;
            position: relative;

            i {
                font-size: 2rem;
                width: 4rem;
                height: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 2.2rem;
                left: 3.2rem;
            }

            .product-content {
                max-width: 350px;
                box-shadow: 1px 1px 3px gray;
                padding: 25px;
            }

            .product-title {
                text-transform: uppercase;
                font-family: "CaviarDreamsBold";
                font-size: 1.5rem;
                position: relative;
                margin: 0px 0px 15px 45px;
                text-align: left;
                line-height: 1.5;
            }

            .product-title::before {
                content: '';
                position: absolute;
                background-image: linear-gradient(#5BFFF4, $primary-color);
                height: 2px;
                bottom: -1px;
                left: 0px;
                width: 130px;
            }
        }
    }
}


@media #{$small-and-up} {
    #products {
        #section-1 {
            padding: 20px 0px;
        }

        #section-4 {
            padding-top: 90px;
            padding-bottom: 70px;

            #product-intro {
                margin-bottom: 50px;
            }

            .product-item {
                display: flex;
                padding: 20px 30px;

                i {
                    position: static;
                    font-size: 6rem;
                    width: 10rem;
                    height: 10rem;
                }
    
                .product-content {
                    box-shadow: none;
                    padding: 10px;
                }
    
                .product-title {
                    margin-left: 0px;
                }
    
            }
        }
    }
 }

@media #{$medium-and-up} {
    #products {
        #section-1 {
            padding: 60px 0px;
        }

        #section-2 {
            padding: 70px 0px;
        }

        #section-3 {
            padding: 170px 20px 100px 20px;
        }

        #section-4 {
            padding-top: 120px;
            padding-bottom: 30px;

            #product-intro {
                margin-bottom: 80px;
            }
        }
    } 
}

@media #{$large-and-up} { }

@media #{$extra-large-and-up} {
    #products {
        #section-1 {
            padding-top: 130px;
            padding-bottom: 100px;

            .text-body {
                margin-bottom: 50px;
            }

            .blue-text {
                margin-top: 70px;
            }
        }

        #section-3 {
            padding: 290px 20px 280px 20px;

            h2 {
                margin-bottom: 50px;
            }
        }

        #section-4 {
            padding-top: 140px;
            padding-bottom: 60px;

            #product-intro {
                margin-bottom: 90px;
            }
        }
    }
}