<div id="products" class="container">
    <div id="section-1" class="row justify-content-center">
      <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5">
        <h2 class="text-body">En innovaciones creamos productos digitales para impulsar tu negocio</h2>
        <p class="text-center">Creamos soluciones 100% personalizadas para tus necesidades y propósitos. Si tienes una idea te ayudamos a desarrollarla con las mejores practicas. Implementamos conocimientos a tu producto, diseñamos interfaces accesibles que generan la mejor experiencia de usuario a tu publico objetivo y te entregamos el codigo limpio para pocosionarte en los buscadores.</p>
        <p class="blue-text text-center">¿Estás listo para trabajar con nuestro equipo?<br>Conoce nuestras soluciones</p>
      </div>
    </div>
  
    <div id="section-2" class="row justify-content-center">
        <div class="sol-item">
            <h3>Página web informativa</h3>
            <p>Solución orientada a páginas web personales o páginas web infomrativas de pequeñas empresas</p>
            <ul>
                <li>Incluye las principales secciones que necesita para ampliar su mercado en Internet.</li>
                <li>Página web con plantilla.</li>
                <li>De rápido desarrollo.</li>
                <li>Precio económico.</li>
            </ul>
            <div class="price">Desde $ 800.000</div>
            <a class="more text-white" href="">Quiero cotizar >></a>
        </div>
        <div class="sol-item">
            <h3>Página web PYMES</h3>
            <p>Página web desarrollada para satisfacer las necesidades de tu pequeña o mediana empresa.</p>
            <ul>
                <li>Diseñada a la medida y acorde a la imagen corporativa.</li>
                <li>Página 100% Administrable.</li>
                <li>Diseño Responsive Design y Mobile First. Accesible para dispositivos mobiles.</li>
                <li>Desarrollo de un mes en adelante.</li>
            </ul>
            <div class="price">Desde $ 2.500.000</div>
            <a class="more text-white" href="">Quiero cotizar >></a>
        </div>
        <div class="sol-item">
            <h3>Página web Premium</h3>
            <p>Orientado a portales y soluciones a nivel corporativo, para medianas y grandes empresas</p>
            <ul>
                <li>Páginas totalmente personalizadas y 100% administrables.</li>
                <li>Páginas totalmente personalizadas y 100% administrables.</li>
                <li>Soporte y atención preferencial</li>
            </ul>
            <div class="price">Desde $5.000.000</div>
            <a class="more text-white" href="">Quiero cotizar >></a>
        </div>
    </div>
    <div id="section-3" class="row">
        <div class="col-0 col-sm-1 col-lg-2"></div>
        <div class="col-11 col-sm-8 col-md-7 col-lg-6 col-xl-4">
            <h2>Integraciones de software</h2>
            <p>Has crecer tu negocio a través de internet, refuerza tu imagen corporativa y aumenta tu competitividad. Ofrecemos diseños elaborados a la medida de tus necesidades y propósitos.</p>
        </div>
    </div>
    <div id="section-4" class="">
        <div class="row justify-content-center">
            <div class="col-10 col-sm-9 col-md-7 col-lg-6 col-xl-4">
                <div id="product-intro">En Innovaciones creamos productos digitales para impulsar tu negocio</div>
            </div>
        </div>
        <div id="products-section">
            <div id="products-container">
                <div class="product-item">
                    <i class="fal fa-user-alt"></i>
                    <div class="product-content">
                        <h3 class="product-title">Consultorias</h3>
                        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem deleniti eos voluptatum exercitationem sit recusandae quae provident rerum beatae.</div>
                    </div>
                </div>

                <div class="product-item">
                    <i class="fal fa-mobile"></i>
                    <div class="product-content">
                        <h3 class="product-title">Desarrollo de aplicaciones</h3>
                        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem deleniti eos voluptatum exercitationem sit recusandae quae provident rerum beatae.</div>
                    </div>
                </div>

                <div class="product-item">
                    <i class="fal fa-ruler"></i>
                    <div class="product-content">
                        <h3 class="product-title">Diseño e imagen corporativa</h3>
                        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem deleniti eos voluptatum exercitationem sit recusandae quae provident rerum beatae.</div>
                    </div>
                </div>

                <div class="product-item">
                    <i class="fal fa-wrench"></i>
                    <div class="product-content">
                        <h3 class="product-title">Soporte y mantenimiento</h3>
                        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem deleniti eos voluptatum exercitationem sit recusandae quae provident rerum beatae.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  