@import "variables";

#service {
    margin: 0px;
    max-width: 100%;

    #intro {
        position: relative;

        .text-white {
            margin: 40px 0px;
        }

        #intro-img {
            top: 0px;
            left: 0px;
            right: 30%;
            bottom: 0px;
            position: absolute;
            background: url('~/assets/img/desk.png') no-repeat;
            background-size: cover;
        }

        #description {
            background-image: linear-gradient(206.57deg, #5BFFF4 0%, #54C0E2 53.52%, $primary-color 100%);
            padding: 40px;
        }

        .more {
            font-family: $font-bold;
            padding-left: 10px;
            transition: 0.2s ease-in-out;
        
            &:hover {
                padding-left: 30px;
                text-decoration: none;
            }
        }
    }

    .item {
        height: 310px;
        border: 1px solid #D8D8D8;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .item-title {
        font-family: $font-bold;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        width: min-content;
    }

    .item-title::before {
        content: '';
        position: absolute;
        background-image: linear-gradient(#5BFFF4, $primary-color);
        height: 2px;
        bottom: -10px;
        left: 5px;
        right: 5px;
    }

    i {
        font-size: 35px;
        margin: 20px;
    }

    #laptop-img {
        background: url('~/assets/img/laptop.png') no-repeat right;
        background-size: cover;
    }
}

@media #{$medium-and-up} {
    #intro {
        padding-top: 50px;
    }
}