<h1>Servicios</h1>
<div id="product" class="container d-flex justify-content-start">
    <div class="row text-center ">
      <div class="col">
        <div></div>
        <div class="item">PÁGINAS WEB</div>
      </div>
      <div class="col">
        <div></div>
        <div class="item">APLICACIONES</div>
      </div>
      <div class="col">
        <div></div>
        <div class="item">CONSULTORIAS</div>       
      </div>
      <div class="w-100"></div>
      <div class="col">
        <div></div>
        <div class="item">DISEÑO DE INTERFACES</div>
      </div>
      <div class="col">
        <div></div>
        <div class="item">DESARROLLO</div>
      </div>
      <div class="col">
        <div>POSICIONAMIENTO</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus aliquid nemo, illo vero.</p>
        <div></div>
      </div>
    </div>
</div>