<div id="service" class="container">
  
  <div id="intro" class="row justify-content-end align-items-end">
    <div id="intro-img"></div>
    <div id="description" class="col-sm-12 col-md-9 col-lg-8 col-xl-7">
      <div class="row">
        <div class="col-md-10 col-xl-8 text-left">
          <h2 class="text-white text-left">Acerca de innovaciones</h2>
          <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dolor molestiae sunt eum nihil culpa hic quod, expedita distinctio repudiandae dolores itaque doloribus maxime a provident nostrum asperiores quae. Laboriosam?</p>
          <a class="more text-white" href="">Conoce más sobre nosotros »</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-start">
    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-7">
      <div class="row">
        <div class="item col-12 col-sm-6 col-lg-4">
          <div><i class="fal fa-desktop-alt"></i></div>
          <p class="item-description text-truncate text-wrap">Desarrollamos aplicaciones y páginas web a tu medida. Contamos con un amplio conjunto de tecnologías de vanguardia para construir el sitio que tu empresa necesita.</p>
          <div class="item-title">Aplicaciones Web</div>
        </div>
        <div class="item col-12 col-sm-6 col-lg-4">
          <div><i class="fal fa-mobile"></i></div>
          <p class="item-description text-truncate text-wrap">¿Necesitas aplicaciones móviles? En innovaciones generamos aplicaciones nativas para iOS y Android en tiempos que se ajustan al crecimiento de tu negocio.</p>
          <div class="item-title">Desarrollo de Aplicaciones</div>
        </div>
        <div class="item col-12 col-sm-6 col-lg-4">
          <div><i class="fal fa-user-alt"></i></div>
          <p class="item-description text-truncate text-wrap">Te ofrecemos consultorías prácticas a costos accesibles para generar el modelo de TI que tu empresa necesita.</p>
          <div class="item-title">Consultorias</div>
        </div>
        <div class="item col-12 col-sm-6 col-lg-4">
          <div><i class="fal fa-ruler"></i></div>
          <p class="item-description text-truncate text-wrap">Te apoyamos en el proceso de diseño de experiencias que impulsarán tu marca en el mercado digital.</p>
          <div class="item-title">Experiencias Digitales</div>
        </div>
        <div class="item col-12 col-sm-6 col-lg-4">
          <div><i class="fal fa-code-merge"></i></div>
          <p class="item-description text-truncate text-wrap">Disponemos de los mejores profesionales para que tus integraciones de software no se vuelvan un dolor de cabeza.</p>
          <div class="item-title">Integraciones</div>
        </div>
        <div class="item col-12 col-sm-6 col-lg-4">
          <div><i class="fal fa-wrench"></i></div>
          <p class="item-description text-truncate text-wrap">Sabemos que la operación significa mucho para tu empresa; por eso, en Innovaciones te ofrecemos el servicio de soporte y mantenimiento de tu infraestructura y servicios a precios altamente competitivos.</p>
          <div class="item-title">Soporte y Mantenimineto</div>
        </div>
      </div>
    </div>
    <div id="laptop-img" class="col">
    </div>
  </div>
</div>