<div id="design-process" class="container my-5">
    <section id="why-us" class="py-4">
        <p class="title text-highlight text-center">¿Por qué elegirnos?</p>
        <h2 class="text-center">DISEÑO + DESARROLLO + CALIDAD</h2>


        <div class="d-flex justify-content-center">
            <p class="text-center col-10">Somos un equipo de profesionales altamente calificados. Nos enfocamos en la calidad y la mejora continua. Contamos con una gama de soluciones ajustables a sus requerimientos específicos, según el presupuesto, logrando así el desarrollo del producto ideal para tu empresa y tu cliente.</p>
        </div>
    </section>

    <section id="digital-transformation" class="py-4">
        <h2>¿Como empezar mi transformación digital?</h2>

        <div class="row justify-content-center">
            <div class="stage-item col-11 col-md-6 col-lg-3">
                <figure><img src="assets/img/icons/bulb.png" alt="Escuchamos"></figure>
                <div class="title row">Escuchamos tus necesidades</div>
                <div class="description row">Escuchamos tus necesidades, organizamos los requerimientos y ofrecemos las posibles alternativas para  tu negocio.</div>
            </div>
            <div class="stage-item col-11 col-md-6 col-lg-3">
                <figure><img src="assets/img/icons/pencil.png" alt="Diseñamos"></figure>
                <div class="title row">Creamos experiencias</div>
                <div class="description row">Te ayudamos a crear una identidad visual y diseñamos experiencias para tu público objetivo.</div>
            </div>
            <div class="stage-item col-11 col-md-6 col-lg-3">
                <figure><img src="assets/img/icons/code.png" alt="Codificamos"></figure>
                <div class="title row">Desarrollamos con calidad</div>
                <div class="description row">Programamos cada parte del código con las mejores prácticas de desarrollo para cumplir con tus expectativas</div>
            </div>
            <div class="stage-item col-11 col-md-6 col-lg-3">
                <figure><img src="assets/img/icons/support.png" alt="Soporte"></figure>
                <div class="title row">Te brindamos soporte</div>
                <div class="description row">No te preocupes, te acompañamos: Verificamos cada uno de los requerimientos y garantizamos nuestro trabajo.</div>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <a href="" class="read-more">Quiero impulsar mi negocio <i class="fal fa-chevron-right"></i></a>
        </div>
    </section>
</div>
