@font-face {
    font-family: 'CaviarDreams';
    src: url('assets/font/CaviarDreams.ttf');
}

@font-face {
    font-family: 'CaviarDreamsBold';
    src: url('assets/font/CaviarDreams_Bold.ttf');
}

@font-face {
    font-family: 'CaviarDreamsBoldItalic';
    src: url('assets/font/CaviarDreams_BoldItalic.ttf');
}

@font-face {
    font-family: 'CaviarDreamsItalic';
    src: url('assets/font/CaviarDreams_Italic.ttf');
}

$font: 'CaviarDreams';
$font-bold: 'CaviarDreamsBold';
$font-italic: 'CaviarDreamsItalic';
$font-bold-italic: 'CaviarDreamsBoldItalic';

$primary-color: #089ADF;
$primary-color-light: #FBFBFB;
$secondary-color: #515151;
$secondary-color-light: #979797;