@import '~bootstrap/scss/bootstrap';

@import './fontawesome/fontawesome';
@import './fontawesome/fa-light';
@import 'variables';
@import 'mixins';

* {
    font-family: $font;
    font-size: 1rem;
}

h1, h2, h3, h4, h5 {
    font-family: $font-bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.1rem;
    margin: 1.5rem 0;
}

h2 {
    color: $primary-color;
}

.black {
    color: black;
}

figure {
    margin: 0;
}

.read-more {
    border: 2px solid black;
    color: black;
    font-family: $font-bold;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;

    &:hover {
        background: $primary-color;
        border-color: $primary-color;
        color: white;
        padding: 0.5rem 1.2rem;
        text-decoration: none;
    }

    i {
        margin-left: 0.5rem;
    }
}

@media #{$small-and-up} { }

@media #{$medium-and-up} { }

@media #{$large-and-up} { }

@media #{$extra-large-and-up} { }