<h2>Nuestro proceso de diseño</h2>

<div class="row">
    <div class="stage-item col-sm-12 col-md-6 col-lg-3">
        <figure><img src="assets/img/icons/bulb.png" alt="Escuchamos"></figure>
        <div class="description row">Escuchamos sus necesidades</div>
        <div class="row">
            <a href="" class="read-more">Saber más <i class="fal fa-chevron-right"></i></a>
        </div>
    </div>
    <div class="stage-item col-sm-12 col-md-6 col-lg-3">
        <figure><img src="assets/img/icons/pencil.png" alt="Diseñamos"></figure>
        <div class="description row">Diseñamos un producto adaptado a sus necesidades.</div>
        <div class="row">
            <a href="" class="read-more">Saber más <i class="fal fa-chevron-right"></i></a>
        </div>
    </div>
    <div class="stage-item col-sm-12 col-md-6 col-lg-3">
        <figure><img src="assets/img/icons/code.png" alt="Codificamos"></figure>
        <div class="description row">Programamos cada linea de código</div>
        <div class="row">
            <a href="" class="read-more">Saber más <i class="fal fa-chevron-right"></i></a>
        </div>
    </div>
    <div class="stage-item col-sm-12 col-md-6 col-lg-3">
        <figure><img src="assets/img/icons/support.png" alt="Soporte"></figure>
        <div class="description row">Soportamos y brindamos mantenimiento</div>
        <div class="row">
            <a href="" class="read-more">Saber más <i class="fal fa-chevron-right"></i></a>
        </div>
    </div>
</div>